@import "normalize.styl"
@import "fonts.styl"

cfondo = #E6ECFF
cmenu = #B3B3A1

a
	text-decoration none

body
	background-color cfondo
	font-family 'Roboto Condensed', sans-serif
	font-size 16px
.logo
	margin 0
	width 119px
	position absolute	
.button-menu
	left .5em
	font-size 1.5em
	margin-top -10px
	position absolute
	top 50%
	
.header
	height 3.5em
	background-color cmenu
	.titulo
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.menu
	display none	
.relative
	position relative
	